<div class="container login-container">
    <div class="row">
      <div class="col-md-6 offset-md-3 login-form-1">
            <h3>Quên mật khẩu</h3>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group" *ngIf='!isValid'>
                        <ngb-alert type="success" (close)="close()">{{ message }}</ngb-alert>
                </div>
                <div class="form-group">
                    <input type="text"  formControlName="username" class="form-control" placeholder="Tên đăng nhập *" value="" />
                </div>

                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Lấy lại mật khẩu" />
                </div>

                <div class="form-group">
                  <a href="#" class="ForgetPwd">Đăng nhập</a>
                </div>

                <div class="form-group">
                    <p class="ForgetPwd" (click)="register()">Đăng ký</p>
                </div>
            </form>
        </div>
    </div>
</div>