.header {
    width: 100%;
    margin: 0;
    transition:.2s all;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    transition-duration: 500ms;
    display: flex;
    box-shadow: 0px 0px 20px gray;
    position: fixed;
    z-index: 900;
}


ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-weight: 600;
    margin: 20px;
    opacity: 0.7;
}

li:hover {
    opacity: 1;
    cursor: pointer;
}

div.logo {
    margin-top: auto;
    margin-bottom: auto;
}

div.content-header{
    margin-left: 5%;
    display: flex;
    position: relative;
    width: 100%;
}

div.header-left {
    display: flex;
}

div.header-right {
    position: absolute;
    display: flex;
    right: 5%;
}

div.header-right>.menu{
    display: flex;
}

div.menu span i{
    font-size: 20px;
}

div.number-quantity,
div.user-login-info {
    width: 70px;
    display: flex;
    height: 59px;
    border-right: 1px solid #ebebeb;
    
}

div.number-quantity {
    position: relative;
}

div.user-login-info {
    border: none;
}

div.number-quantity>span,
div.user-login-info>span {
    margin: auto;
    max-width: 70px;
}

div.number-quantity>span>label {
    position: absolute;
    top: 10px;
    font-size: 15px;
    color: #F46036;
}

/*Format search*/
div.area-search {
    display: flex;
    height: 59px;
    border-right: 1px solid #ebebeb;
}

div.area-search>span input {
    font-size: 20px;
    border: none;
    outline: none;
    border-left: 1px solid #ebebeb;
    padding: 0 15px 0 60px;
}

div.area-search>span {
    display: flex;
    position: relative;
}
div.area-search>span i {
    position: absolute;
    right: 10px;
    top: 20px;
}