<div class='header' id='header'>
  <div class="content-header">
    <div class="header-left">

      <div class="logo">
        <a routerLink="/dashboard">
          <img class="image-product" src="/assets/logo/pokemon.png"/>
        </a>
      </div>

      <div class="menu">
          <ul>
              <li>Shop</li>
              <li class="has-submenu">Pages
                <ul class="sub-menu">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Checkout</a></li>
                  <li><a href="#">Regular Page</a></li>
                </ul>
              </li>
              <li>Blog</li>
              <li>Contact</li>
            </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="menu">

          <div class="number-quantity">
              <span>
                <i class='fas fa-heart'></i>
                <label>0</label>
              </span>
            </div>

          <app-update-quantity-cart></app-update-quantity-cart>

          <div class="user-login-info">
              <span routerLink="account/login">
                <i class='fas fa-user'></i>
              </span>
          </div>

        </div>
    </div>
  </div>
</div>