<div class='header' id='header'>
  <div class="content-header">
    <div class="header-left">

      <div class="logo">
        <a routerLink="/dashboard">
          <img class="image-product" src="/assets/logo/pokemon.png"/>
        </a>
      </div>

      <div class="menu">
          <ul>
              <li>Shop</li>
              <li class="has-submenu">Pages
                <ul class="sub-menu">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Checkout</a></li>
                  <li><a href="#">Regular Page</a></li>
                </ul>
              </li>
              <li>Blog</li>
              <li>Contact</li>
            </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="menu">

          <!-- <div class="area-search">
            <span>
              <input type='text' placeholder='search,...' (@transitonInput.done) ='transitionDone($event)' [@transitonInput]='state' (blur)='onUnseletedInput($event)' (click)='onSeletedInput($event)'/>
              <i class="fas fa-search"></i>
            </span>
          </div> -->

          <div class="number-quantity">
            <span>
              <i class='fas fa-heart'></i>
              <label>0</label>
            </span>
          </div>

          <div class="number-quantity">
            <span>
              <i class="fas fa-shopping-bag"></i>
              <label>0</label>
            </span>
          </div>

          <div class="user-login-info">
              <span>
                <i class='fas fa-user'></i>
              </span>
          </div>

        </div>
    </div>
  </div>
</div>