<hr>
<div class="footer">
  <div class="footer-left">
    <h2>About Shop</h2>
    <div>
        <a>Introduction</a>
        <a>Contact</a>
        <a>Feedback</a>
    </div>
  </div>
  <div class="footer-center">
      <h2>Payment</h2>
      <div>      
            <a><i class="fab fa-cc-mastercard"></i>Master Card</a>
            <a><i class="fab fa-paypal"></i>PayPal</a>
            <a><i class="fab fa-cc-visa"></i>Visa Card</a>
        </div>
  </div>
  <div class="footer-right">
      <h2>Follow me</h2>
      <div>      
        <a><i class="fab fa-facebook-square"></i>Facebook</a>
        <a><i class="fab fa-instagram"></i>Instagram</a>
        <a><i class="fab fa-youtube"></i>Youtube</a>
      </div>
  </div>
</div>