.content {
    max-width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 200px;
}

div.left-content {
    flex-grow: 0;
    flex-basis: 300px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

div.right-content {
    margin-left: 10px;
    height: auto;
    flex-grow: 1;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

div.content-detail {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

div.content-detail h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    padding-top: 10px;
}

div.rating i {
    font-size: 80%;
    padding-top: 10px;
    padding-right: 5px;
    color: orange;
}

div.star {
    font-weight: 600;    
}

div.star span {
    font-size: 80%;
    padding-left: 5px;
}

div.price {
    padding: 0;
    margin: 10px 0px 0px 0px;
}

div.price span {
    font-weight: 500;
}

div.color h3,
div.status h3 {
    margin: 0;
    padding: 10px 0px 10px 0px;
    font-weight: 500;
}

div.item-color {
    display: flex;
    flex-direction: row;
}

div.item-color span {
    cursor: pointer;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: red;
    opacity: 0.6;
    border-radius: 50%;
    border: 1px solid red;
}
div.item-color span.active {
    opacity: 1;
}

div.status {
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.status span {
    padding-left: 10px;
}

#add-to-cart {
    color: #5B85AA;
    cursor: pointer;
    padding: 15px 20px 15px 20px;
    display: flex;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 2px;
    opacity: 0.7;
}
#add-to-cart:hover {
    opacity: 1;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

#add-to-cart i {
    padding-right: 10px;
}

div.quantity {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 10px;
}

div.update-quantity {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
}

#plus, #minus {
    cursor: pointer;
    border: none;
    border-radius: 2px;
    width: 34px;
    height: 31px;
    color: #5B85AA;
    outline: none;
}

div.quantity h3 {
    margin: 0;
    font-weight: 500;
    padding-bottom: 10px;
    line-height: 1.5;
}
div.quantity input {
    height: 25px;
    width: 30px;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    text-align: center;
    margin: 0px 10px 0px 10px;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    div.right-content {
        margin-top: 10px;
        margin-left: 0;
        flex-flow: 1;
        font-size: 80%;
    }
    #add-to-cart {
        font-size: 70%;
    }
    div.left-content {
        flex-grow: 1;
    }
}