<div class="content" *ngIf="hero">
    <div class="left-content">
        <img src="/assets/image/{{hero.image}}"/>
    </div>
    <div class="right-content">
        <div class="content-detail">
            <h2>{{hero.name}}</h2>
            <div class="rating">
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>4.4 (320 reviews)</span>
                </div>
            </div>
            
            <div class="price">
                <span>${{hero.price}}</span>
            </div> 
            
            <div class="color">
                <h3>Color</h3>
                <div class="item-color">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="status">
                <h3>Status: </h3>
                <span>Out of Stock</span>
            </div>

            <div class="quantity">
                    <h3>Quantity</h3>
                    
                    <div class="update-quantity">
                        <button (click)="onPlus($event)" id="minus">-</button>
                        <input type="number" (keyup)="onKey($event)" value="{{lastValue}}">
                        <button (click)="onMinus($event)" id="plus">+</button>
                    </div>
            </div>

            <div>
                <button id="add-to-cart" (click)="addToCart(hero)">
                    <i class="fas fa-shopping-cart"></i>
                    Add to Cart
                </button> 
            </div>
        </div> 
    </div>
</div>