
<div class="container login-container" *ngIf="pageId === 1">
    <div class="row">
      <div class="col-md-6 offset-md-3 login-form-1">
            <h3>Đăng Nhập</h3>
            <form (ngSubmit)="onSubmit()" [formGroup]="accountGroup">
                <div class="form-group" *ngIf='!isValid'>
                        <ngb-alert type="danger" (close)="close()">{{ message }}</ngb-alert>
                </div>
                <div class="form-group">
                    <input type="text"  formControlName="username" class="form-control" placeholder="Tên đăng nhập *" value="" />
                </div>
                <div class="form-group">
                    <input type="password"  formControlName="password" class="form-control" placeholder="Mật khẩu *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Đăng nhập" />
                </div>

                <div class="form-group">
                  <p class="ForgetPwd" (click)="transitionPage(3)">Quên mật khẩu?</p>
                </div>

                <div class="form-group">
                    <p class="ForgetPwd" (click)="transitionPage(2)">Đăng ký</p>
                </div>
            </form>
        </div>
    </div>
</div>
<app-register *ngIf="pageId === 2" (loginClick)="fromRegister($event)"></app-register>
<app-forget-password *ngIf="pageId === 3"></app-forget-password>